@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}





body{
    font-family: 'Roboto', sans-serif;
    background-color: #4D3B80;
    color: #fff;
}
.header{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}
.title{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 45px;
    line-height: 94px;
}
.question__title{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 65px;
}
.tac{
  text-align: center;
}
.answers{
    margin-top: 105px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
}
.btn{
    padding: 16px 84px;
    color: #fff;
    background-color: rgba(#37295F, 0.75);
    transition: background-color 0.3s ease;
    font-size: 30px;
    border-radius:5px;
    line-height: 35px;
    margin-left: 57px;
    &:first-child{
        margin-left: 0;
    }
    &:hover{
        background-color: rgba(#8775BC, 0.75);
    }
    &:focus{
        background-color: rgba(#8775BC, 0.75);
    }
}
.confirm-center{
    display:flex;
    justify-content: center;
}
.confirm{
    margin-top: 115px;
    color:#fff;
    background-color: rgba(#7402BA, .92);
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    padding: 30px 109px;
    border-radius: 10px;
    box-shadow: 0 10px #6400A1;
    transition: 0.2s ease-in-out;
    &:hover{
        margin-top: 117px;
        box-shadow: 0 8px #6400A1;
    }
}
.result-title{
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 65px;
  font-style: italic;
}


#comment{
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin-top: 50px;
}




#checkResult {
  display: none;
}
#first {
  display: block;
}
#second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth, #tenth {
  display: none;
}
